<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Угадай-ка город</title>
    </head>
    <body>
        <h1>Добро пожаловать</h1>
        <h2>Приветсвуем вас в игре "Угадай-ка город"</h2>
        <p>Правила: сервер загадывает город из списка возможных. 
            <ul>
                <li>Вам будут даны 10 изображений этого города.</li>
                <li>Вам нужно указать в поле ввода правильный город.</li>
                <li>Вы можете воспользоваться подсказкой: сервер отправит вам название того города, который точно НЕ указан на изображениях.</li>
                <li>Если вы введёте неправильный город в поле ввода, то браузер вернется на текущий слайд</li>
            </ul>
        </p>
        <a href="/reset">Начать</a>
        <p/><a href="/leaderboard">Таблица лидеров</a>
    </body>
</html>