<style>
    #leaderboard-table {
        border: 1px solid black;
    }
    .board-cell, th {
        border-right: 1px solid black;
        border-collapse: collapse;
    }
</style>
<h1 style="text-align: center;">Таблица лидеров</h1>
<table id="leaderboard-table">
    {% for el in colNames %}
        <th>{{el}}</th>
    {% endfor %}
    
    {% for el in data %}
        <tr>
            {% for el2 in el %}
                <td class="board-cell">{{el2}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<a href="/reset">Новая игра</a>