<img src="{{imgPath}}"></img>
<p>
    <form action="/answer/{{n}}" method="POST" id="answer-form">
        Ваш ответ: <input type="text" name="cityGuess"/>
        <input type="submit"/>
    </form>
    {% if n > 0 %}<a href="javascript:loadSlide({{n-1}})">Предыдущий слайд</a>{% endif %}
    {% if n < totalSlides-1 %}<a href="javascript:loadSlide({{n+1}})">Следующий слайд</a>{% endif %}
    <a href="javascript:getHint({{n}})">Подсказка</a>
    <div class="hint">{{hint}}</div>
    <div class="hint-not">{{hintNot}}</div>
    <a href='/reset'>Начать заново</a>
</p>

<script>
    let form = document.getElementById('answer-form')
    form.addEventListener("submit",function(event) {
        event.preventDefault();
        let paramsFunc = function(){return new FormData(form)};
        request("/answer/"+ {{n}}, "#game-container", "POST", paramsFunc);
    })
</script>